<h1>Members only Post</h1>
<% @posts.each do |post| %>
  <% if user_signed_in? %>
    <%= post.user.name %>	<br>   
  <% end %>
  <%= post.title %>
  <%= post.body %>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Create a Post", new_post_path %>

<%= link_to "(#{current_user.name}) Sign out", signout_path, method: "delete" %>

<% end %>